.bg-white {
    --bs-bg-opacity: 1;
    background-color:  #FE4400 !important;
}

.topnav.navbar-light .navbar-brand {
    font-family: Inter;
    font-style: Medium;
    font-size: 24px;
    color: #ffffff;
}

.sidenav-light {
    font-family: Inter;
    font-style: Medium;
    font-size: 18px;
    color: #292961;
    background: #A8A8D0;
}

.btn-default {
    background-color: #FE4400;
    color: white;
}

.text-black {
    font-family: Inter;
    font-style: Bold;
    font-size: 32px;
    color: #000000 !important;
}

.text-black-50 {
    font-family: Inter;
    font-style: Bold;
    font-size: 16px;
    color: #000000 !important;
}

.card-title {
    color: #292961;
}

.card-text {
    color: #292961;
}

.text-muted {
    --bs-text-opacity: 1;
    color: #292961 !important;
}

.btn-logout{
    background: none;
    border: none;
}

.btn-logout:hover{
    color: #0061f2;
}
