.bg-gradient-primary {
    background-color: #292961;
    background-image: linear-gradient(180deg,#292961 10%,#292961 100%);
    background-size: cover;
}

.text-gray-900 {
    color: #212529!important;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 700;
    font-size: 26px;
    line-height: 120%;
    text-align: center;
}
.mb-4, .my-4 {
    margin-bottom: 0.5rem!important;
}

.small, small {
    font-family: 'Inter';
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 130%;
    color: #000000;
}

form.user .btn-user {
    border-radius: 8px;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 600;
    font-size: 16px;
    line-height: 24px;
    margin-bottom: 20px;
}

form.user .form-control-user {
    font-family: 'Inter';
    font-style: normal;
    font-size: 16px;
    border-radius: 8px;
    line-height: 0.7;
}

.col-form-label {
    padding-top: calc(0.375rem + 1px);
    padding-bottom: calc(0.375rem + 1px);
    margin-bottom: 0;
    font-family: 'Inter';
    font-style: normal;
    font-size: inherit;
    line-height: 0.01;
    padding-right: 0rem;
    padding-left: 0rem;
    color: #000000;
}


